<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Surname" value="Иванов"/>
    <add key="Name" value="Иван"/>
    <add key="Patronymic" value="Иванович"/>
    <add key="Birthday" value="26091971"/>
    <add key="Document" value="AB1234567"/>
    <add key="Email" value="ivan-v-1971@yandex.by"/>
    <add key="NumberOrder" value="213456712345678901345"/>
  </appSettings>
</configuration>